<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
    <link rel="stylesheet" href="/static/my_css.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/theme/{{ blog.theme }}">
    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <p>{{ blog.title }}</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% load mytags %}
            {% get_let_menu username %}
        </div>
        <div class="col-md-8">
        {% block page-main %}
        {% endblock %}
            <!--个人博客列表开始-->

        </div>
    </div>
</div>


</body>
</html>